<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
  </head>
  <body>
    <div><%- include('header.ejs') %></div>
    <div>
      <h3 class="text-2xl">Welcome to Election page<%= userName %></h3>
      <% if (elections.length==0) { %>
       <p>You have zero elections upto now,Start Creating  your elections here.
      <a href="Election/Create">Discover Your Election here</a>
       </p>
      <% } else{ %>
        <p class="text-pink-400"><%=elections[0].electionName %></p>
        <% } %> 
      </div>
      <div class="flex gap-2 py-4 justify-between">
        <div class="bg-red-700 rounded w-fit px-2 py-1 hover:bg-red-500">
            <a href="/Election/Create" class="text-gray">+ Create a new election</a>
        </div>
    </div>
    </body>
  </html>
  